#top-header.container.col-md-10.col-md-offset-1
  .row
    %nav.navbar.navbar-inverse(role="navigation")
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" aria-expanded="false")
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to 'MyBooks', root_path, class: 'navbar-brand'

        .collapse.navbar-collapse
          - if current_user
            %ul.nav.navbar-nav
              %li
                =link_to 'Library', home_path
                %span.sr-only
              %li
                = link_to 'Reading Queue', reading_queue_path
              %li
                %a(href="#")
                  Archives
            %form.navbar-form.navbar-left(role="search")
              .form-group
                %input.form-control(type="text" placeholder="Search")
              %button.btn.btn-default
                Submit
          %ul.nav.navbar-nav.navbar-right
            - if !current_user
              %li
                =link_to 'Register', register_path
              %li
                =link_to 'Sign in', sign_in_path
            - if current_user
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  = "#{current_user.username}"
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a(href="#")
                      Profile
                  %li
                    = link_to 'Sign out', sign_out_path
