.jumbotron
  %h1
    Book Manager
    %p for the old-fashioned, but tech-savvy.
    %p= link_to 'Sign up now', register_path, class: 'btn btn-primary btn-lg'
  %section
    %small
      Already have an account?
      = link_to 'Sign in', sign_in_path

