.books.container-fluid
  %section.col-md-10.col-md-offset-1
    .row
      - @results.each do |book|
        .book.col-sm-3
          = link_to book, class: "text-info" do
            = image_tag book.small_cover_url
            %h5= book.title