development:
  adapter: postgresql
  encoding: unicode
  database: mybooks_development
  pool: 5
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: mybook_test
  pool: 5
  username:
  password: